<div class="mmenu" >
  <input type="button" id="refresh" value="Refresh"/>
  <input type="button" id="add_folder" value="Add folder"/>
  <input type="button" id="clear_search" value="Clear"/>
  <input type="text" id="text" value="" />
  <input type="button" id="search" value="Search"/>
</div>
<br>
<div id="jsTree" class="jsTree jstree-apple"></div>
